body {
    background-image: url("github_background.jpeg");
}

#header {
    position: relative;
    width: 80%;
    left: 10%;
    background-color: #0079a1;
    text-align: center;
    border: 1px solid whitesmoke;
}

#navigation {
    position: relative;
    width: 80%;
    left: 10%;
    background-color: #bf00bf;
    text-align: center;
    border: 1px solid whitesmoke;
}

#navigation li {
    list-style-type: none;
    display: inline;
}

#main_body {
    position: relative;
    width: 80%;
    left: 10%;
    background-color: #e99b8f;
    text-align: center;
    border: 1px solid whitesmoke;
}

#main_body li{
    list-style-type: none;
}