body {
    background-image: url("app-background.jpg");
}

.center {
    display: flex;
    justify-content: center;
    padding: 10px;
}

#main-container {
    width: 90%;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    margin-left: 20px;
    background-color: #a19ea2;
}

#main-container p {
    line-height: 200%;
}

#box-tool {
    position: relative;
    width: 320px;
    height: 100%;
    border: 2px solid black;
    background-color: #a19ea2;
    text-align: center;
}

.box-style {
    width: 345px;
    height: 345px;
    border: 1px solid black;
    background-color: #f6b26b;
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    overflow: scroll;
    overflow-x: hidden;
}

.flex-main {
    display: flex;
    padding: 10px;
}

.box-inner-style {
    width: 85px;
    height: 85px;
    border: 1px solid black;
    background-color: #e06666;
    margin: 10px;
}

#topic-holder {
   margin-left: 100px; 
}

#newInput {
    background-color: transparent;
    border: 0px solid;
    height: 20px;
    width: 100%;
    color: white;
    justify-content: center;
    text-align: center;
    padding: 10px;
    margin-top: 10px;
    font-size:24px;
}

#newtopicInput {
    background-color: transparent;
    border: 0px solid;
    height: 83px;
    width: 83px;
    color: white;
    font-size: 12px;
    font-weight: bold;
}

::-webkit-scrollbar {
    width: 5px;
}
 
/* Track */
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    -webkit-border-radius: 5px;
    border-radius: 5px;
    background: rgba(255,0,0,0.8); 
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}
::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(255,0,0,0.4); 
}

#trash {
    border: 1px solid black;
    width:25px;
    height:25px;
    
}

#box-tool {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px;
}

#changeRed {
    background-color: red;
    height: 5px;
    width: 5px;
    border: 1px solid black;
    margin: 7px;
    -webkit-transition: width 0.4s, height 0.4s; /* For Safari 3.1 to 6.0 */
    transition: width 0.4s, height 0.4s;
}

#changeBlue {
    background-color: blue;
    height: 5px;
    width: 5px;
    border: 1px solid black;
    margin: 7px;
    -webkit-transition: width 0.4s, height 0.4s; /* For Safari 3.1 to 6.0 */
    transition: width 0.4s, height 0.4s;
}

#changeGreen {
    background-color: green;
    height: 5px;
    width: 5px;
    border: 1px solid black;
    margin: 7px;
    -webkit-transition: width 0.4s, height 0.4s; /* For Safari 3.1 to 6.0 */
    transition: width 0.4s, height 0.4s;
}

#changePurple {
    background-color: purple;
    height: 5px;
    width: 5px;
    border: 1px solid black;
    margin: 7px;
    -webkit-transition: width 0.4s, height 0.4s; /* For Safari 3.1 to 6.0 */
    transition: width 0.4s, height 0.4s;
}

#changeWhite {
    background-color: whitesmoke;
    height: 5px;
    width: 5px;
    border: 1px solid black;
    margin: 7px;
    -webkit-transition: width 0.4s, height 0.4s; /* For Safari 3.1 to 6.0 */
    transition: width 0.4s, height 0.4s;
}

#color-holder {
    display: flex;
    justify-content: center;
}

#changeRed:hover {
    width: 12px;
    height: 12px;
    border: 2px solid black;
}

#changeBlue:hover {
    width: 12px;
    height: 12px;
    border: 2px solid black;
}

#changeGreen:hover {
    width: 12px;
    height: 12px;
    border: 2px solid black;
}

#changePurple:hover {
    width: 12px;
    height: 12px;
    border: 2px solid black;
}

#changeWhite:hover {
    width: 12px;
    height: 12px;
    border: 2px solid black;
}

#create-box-btn {
    -webkit-transition: -webkit-transform 3s; /* Safari */
    transition: transform 3s;
}

#create-box-btn:hover {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
}

#create-topic-btn {
    -webkit-transition: -webkit-transform 3s; /* Safari */
    transition: transform 3s;
}

#create-topic-btn:hover {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
}