body {
    background-image: url("github_background.jpeg");
}

#header {
    position: relative;
    width: 80%;
    left: 10%;
    background-color: #0079a1;
    text-align: center;
    border: 1px solid whitesmoke;
}

#navigation {
    position: relative;
    width: 80%;
    left: 10%;
    background-color: #bf00bf;
    text-align: center;
    border: 1px solid whitesmoke;
}

#navigation li {
    list-style-type: none;
    display: inline;
}

#main_body {
    position: relative;
    width: 80%;
    left: 10%;
    background-color: #e99b8f;
    text-align: center;
    border: 1px solid whitesmoke;
    /* Prevent nearby text being highlighted when accidentally dragging mouse outside confines of the canvas */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#main_body li{
    list-style-type: none;
}

#second_main {
    border-top: 1px solid black;
}

#transitionOne {
    width: 100px;
    height: 100px;
    background-color: red;
    margin-left: 45%;
    -webkit-transition: width 2s, height 2s; /* For Safari 3.1 to 6.0 */
    transition: width 2s, height 2s;
}

#transitionOne:hover {
    width: 300px;
    height: 300px;
    background-color: black;
}

#transitionTwo {
    width: 100px;
    height: 100px;
    background-color: purple;
    margin-left: 45%;
    transition-timing-function: linear;
    -webkit-transition-timing-function: linear;
    transition: width 2s, height 2s;
}

#transitionThree {
    width: 100px;
    height: 100px;
    background-color: purple;
    margin-left: 45%;
    transition-timing-function: ease;
    -webkit-transition-timing-function: ease;
    transition: width 2s, height 2s;
}

#transitionFour {
    width: 100px;
    height: 100px;
    background-color: purple;
    margin-left: 45%;
    -webkit-transition-timing-function: ease-in;
    transition-timing-function: ease-in;
    transition: width 2s, height 2s;
}

#transitionFive {
    width: 100px;
    height: 100px;
    background-color: purple;
    margin-left: 45%;
    transition-timing-function: ease-out;
    -webkit-transition-timing-function: ease-out;
    transition: width 2s, height 2s;
}

#transitionSix {
    width: 100px;
    height: 100px;
    background-color: purple;
    margin-left: 45%;
    transition-timing-function: ease-in-out;
    -webkit-transition-timing-function: ease-in-out;
    transition: width 2s, height 2s;
}

#transitionTwo:hover {
    width: 300px;
    height: 300px;
    background-color: silver;
}

#transitionThree:hover {
    width: 50px;
    height: 50px;
    background-color: teal;
}

#transitionFour:hover {
    width: 20px;
    height: 10px;
    background-color: orange;
}

#transitionFive:hover {
    width: 400px;
    height: 400px;
    background-color: brown;
}

#transitionSix:hover {
    width: 150px;
    height: 150px;
    background-color: olivedrab;
}

#transformOne {
    width: 100px;
    height: 100px;
    background-color: blueviolet;
    margin-left: 45%;
    -webkit-transition: width 2s, height 2s, -webkit-transform 2s; /* Safari */
    transition: width 2s, height 2s, transform 2s;
}

#transformOne:hover {
    width: 300px;
    height: 300px;
    -webkit-transform: rotate(180deg); /* Safari */
    transform: rotate(180deg);
}

#transformTwo {
    width: 100px;
    height: 100px;
    background-color: aquamarine;
    margin-left: 45%;
    -webkit-transition: -webkit-transform 2s; /* Safari */
    transition: transform 2s;
}

#transformTwo:hover {
    -webkit-transform: rotate(1360deg); /* Safari */
    transform: rotate(1360deg);
}

#transformThree {
    width: 100px;
    height: 100px;
    background-color: #007d00;
    margin-left: 45%;
    -webkit-transition: -webkit-transform 2s; /* Safari */
    transition: transform 3s;
}

#transformThree:hover {
    -webkit-transform: rotateY(360deg);
    transform: rotateY(360deg);
}

/* The element to apply the animation to */
#animationOne {
    width: 100px;
    height: 100px;
    background-color: red;
    margin-left: 45%;
    -webkit-animation-name: change_colors; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 4s; /* Safari 4.0 - 8.0 */
    animation-name: change_colors;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}

/* The animation code */
/* Safari 4.0 - 8.0 */
@-webkit-keyframes change_colors {
    0%   {background-color: red;}
    10%   {background-color: orange;}
    25%  {background-color: yellow;}
    35% {background-color: green;}
    50%  {background-color: blue;}
    70% {background-color: violet;}
    85% {background-color: white;}
    100% {background-color: black;}
}

/* The animation code */
@keyframes change_colors {
    0%   {background-color: red;}
    10%   {background-color: orange;}
    25%  {background-color: yellow;}
    35% {background-color: green;}
    50%  {background-color: blue;}
    70% {background-color: violet;}
    85% {background-color: white;}
    100% {background-color: black;}
}


#animationTwo {
    width: 40px;
    height: 40px;
    background-color: red;
    margin-left: 45%;
    position: relative;
    -webkit-animation-name: moving_animation; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 20s; /* Safari 4.0 - 8.0 */
    -webkit-animation-iteration-count: infinite; /* Safari 4.0 - 8.0 */
    animation-name: moving_animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
}

/* The animation code */
/* Safari 4.0 - 8.0 */
@-webkit-keyframes moving_animation {
    0%   {background-color:red; left:0%; top:0px;}
    10%  {background-color: orange;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}

/* The animation code */
@keyframes moving_animation {
    0%   {background-color:red; left:0px; top:0px;}
    25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;}
}

#box {
  width: 100px;
  height: 100px;
  background-color: red;
  margin-left: 45%;
  -webkit-transition: width 2s, height 2s; /* For Safari 3.1 to 6.0 */
  transition: width 2s, height 2s;
}

#box-change {
  width: 300px;
  height: 300px;
  background-color: red;
  margin-left: 45%;
}
